body{
	margin: 0px;
	padding: 0px;
	background-color: powderblue;
}
#header{
	width: 100%;
	height: 90px;
	background-color:  #FFF;


}
#inside-header{
	        width: 910px;
	         height: 90px;
	         margin: 0 auto;

}
#headerbox{
	width: 464px;;
    height: 71px;
	background-image: url(image/php.png);
	background-repeat: no-repeat;
     background-size: 46% 100%;
	margin: 18px 9px;
	float: left;
}
.headerbox1{
	width: 81px;
    height: 37px;
	margin: 52px 30px;
	float: left;
	background-color: #E7EDF5;
    border-radius:  5px 5px 0px 0px ;
} 
.headerbox1:hover{
      box-shadow:  0px 0px 10px black;
}
#menu{
	width: 100%;
	height: 100px;
    background-color: black;
}
#inside-menu{
	        width: 910px;
	       height: 100px;
	       margin: 0 auto;
	      
}
#slider{
	width: 100%;
	height: 200px;
	background-color: #446B9A;
}
#inside-slider{
	width: 910px;
	height: 200px;
	margin: 0 auto;
	}
#content{
	width: 100%;
	height: auto;
	min-height: 600px;
	background-color: red;

}
#inside-content{
	width: 910px;
	height: 600px;
	margin: 0 auto;
}

#right-div{
	        width: 300px;
	        height:600px;
	         float: left;
	         background-color: white;
	         

}
#left-div{
	        width: 530px;
	        height: 580px;
	         float: left;
	         margin: 40px ;

	         
}
.box1{
	width: 136px;;
    height: 100px;
	background-color: white;
	margin: 20px 20px;
	float: left;
	border-radius: 10px;
}
.box1:hover{
      box-shadow:  0px 0px 10px black;
}
#footer{
	width: 100%;
	height: 100px;
	background-color: blue;
	margin: 0;

}

#inside-footer{
	width: 910px;
	height: 100px;
	margin: 0 auto;
} 
.box2{
	width: 215px;;
    height: 40px;
	background-color: #000;
	margin: 0px 8px;
	float: left;
	border-radius: 5px 5px 0px 0px ;
}
.box2:hover{
	box-shadow: 0px 0px 10px white;
}